<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="bg-red mtd-48">
  <div class="container">
    <div class=" paper d-flex justify-content-between" >
  <div class="Cust_arc_banana">
  
  <ul class=" fz-16 foot-title d-flex text-white  list-unstyled  gap-5 text-font">
              <a href="#"><li class="">首頁</li></a>
              <a href="#"><li class="">系列眼鏡</li></a>
              <a href="#"><li class="">門市據點</li></a>
              <a href="#"><li class="">部落格</li></a>
              <a href="#"><li class="">常見問題</li></a>
            </ul>      
    
      <div>      
          <ul class=" d-flex list-unstyled  text-font">
              <span class="pr-20 material-symbols-outlined Cust_sty_foot-icon ">call</span>
              <li type="tel" class="foot-fz-36  flex-fill ">0800-000-000</li>
            </ul>
            <ul class=" d-flex list-unstyled  text-font">
              <span class="pr-20 material-symbols-outlined  Cust_sty_foot-icon  ">mail</span>
              <li type="email" class="foot-fz-36  ">glasses@business.com</li>
          </ul>
        </div>
      </div> 
    
      <div class="">
        <div class="">
              <a href="#"><img class="Cust_sty_foot-logo " src="../assets/images/ic_social_fb.svg" alt="FBlogo"></a>
              <a href="#"><img class="Cust_sty_foot-logo" src="../assets/images/ic_social_ig.svg" alt="IGlogo"></a>
              <a href="#"><img class="Cust_sty_foot-logo" src="../assets/images/ic_social_line.svg" alt="LINElogo"></a>
            </div>
          </div>
  </div>
      
          <hr class="hr">
    
          <div class="d-flex justify-content-between flex-wrap  Cust_arc_footer">
              <ul class="list-unstyled text-font">
                  <li class=" fz-16 ">Copyright © 2020 Glasses.All rights reserved.</li>
              </ul>    

              <ul class="d-flex list-unstyled Cust_arc_footer gap-48 text-font">

                   <a href=""><li class=" fz-16 ">服務條款</li></a>
                   <a href=""><li class=" fz-16">隱私權政策</p></a>
          </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>