<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">


<div class="bg-red ">
  <div class="containerd">
      <div class="d-flex flex-column flex-md-row  justify-content-between ">
        <div class="my-3 menu-logo">
          <img class="logo-img" src="../assets/images/logo-new_1.png" alt="logo">
        </div>


        <ul  class="bar list-unstyled  d-flex  align-items-center text-font fz-20 Cust_arc-bar
       ">
          <a href="#"><li class="">系列眼鏡</li></a>
          <a href="contact.html"><li class="">門市據點</li></a>
          <a href="#"><li class="">部落格</li></a>
          <a href="index.html"><li class="">常見問題</li></a>
        </ul>
      </div>
    </div>
 
</div>



