body{
  font: normal normal normal 20px/30px Source Han Sans TW;
  color: #ffffff;
  text-align: left;
}
a:link{
  color:#ffffff;
  text-decoration: none
}
a:visited{
  color:#ffffff;
}
.text-font{
  font: normal normal normal 20px/30px Source Han Sans TW;
  color: #ffffff;
  text-align: left;
}
.containerd{
  padding: 16px 285px;
}

.bg-red{
  background:#AA0601;
 }

img{
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  
}
.logo-img{
  width: 80px;
  padding-left:16px;
}




.ml-64{
  margin-left:64px;
}

.fz-48{
  font-size: 48px;
}
.fz-36{
  font-size: 36px;
}
.fz-20{
  font-size: 20px;
}
.fz-16{
  font-size: 16px;
}

.bar{
  gap:64px;
  padding-right:12px;
  
  
}
@media (max-width :1536px){
  .containerd{
    padding: 16px 100px;
  }
}

@media (max-width :992px){
  .containerd{
    padding: 16px 114px;
  }
}


@media (max-width :770px){
  .containerd{
    padding: 0px 0px;
  }
  .Cust_arc-bar{
    padding-right:0px;
    padding-left: 0px;
    color: #16ff35;
  }
  .bar{
    gap:0px;
    padding-right:0px;
    flex-wrap: wrap;
    padding:0px;
    width: 100%;
    margin-bottom:0px;
  }
  .bar a{
    width: 50%;
    border: 1px solid #FFFFFF;
    display: inline-block;
    
  }
  .bar a li{
    text-align: center;
    color:#FFFFFF;
   
  }
}