body{
  font: normal normal normal 20px/30px Source Han Sans TW;
  text-align: left;
}

.index-title {
  font: normal normal normal 20px/30px Source Han Sans TW;
  color: #000000;
  text-align: left;
}

.fz-48{
  font-size: 48px;
}
.fz-24{
  font-size: 24px;
}
.fz-20{
  font-size: 20px;
}
.fz-16{
  font-size: 16px;
}

.mtd-96{
  padding-top:6rem;
}

.borderd{
  border-left: 8px solid #9F1213;
}


