<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%- include('./layout/header'); -%>
    <div class="container mtd-96">
      <h2 class=" fz-48  fw-bolder borderd cust_contact-fz-24 mb-4">門市據點</h2>

      <div class="d-flex gap-3 ">

        <span class="fz-24 fw-bolder cust_contact-fz-16">選擇地區</span>

        <select class="select-w-308 form-select" aria-label="Default select example">
          <option class="fw-lighter" selected>台北市</option>
          <option value="1">新竹市</option>
          <option value="2">台中市</option>
          <option value="3">台南市</option>
        </select>
        </div>

        
        <div class="card-bg mt-40 d-flex gap-4 flex-wrap">
          <!-- 1 -->
          <div class="car-item mb-3">
            <div class="car-img"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt=""></div>
            
            <div class="car-body border ">
            <h2 class="car-title border py-24 py-2 fz-24">台北中山旗艦店</h2>
               <ul class=" d-flex  py-24 gap-1">
                    <span class=" material-symbols-outlined Cust_sty_foot-icon ">call</span>
                    <li type="tel" class="fz-20  flex-fill ">電話：(02)000-1234</li>
                  </ul>
               <ul class=" d-flex  py-24 gap-1">
                    <span class="material-symbols-outlined">schedule</span>
                    <li type="tel" class="fz-20  flex-fill ">營業時間：10:00-21:00</li>
                  </ul>
               <ul class=" d-flex   py-24 gap-1">
                    <span class="material-symbols-outlined">location_on</span>
                    <li type="tel" class="fz-20  flex-fill ">地址：台北市中山區南京東路25巷2-1號</li>
                  </ul>
                <div class="card-bt border bg-dark text-center">
                  <a class="" href=""><p class="text-white mt-3">詳細資訊</p></a>
                </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="car-item mb-3">
            <div class="car-img"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt=""></div>
            
            <div class="car-body border ">
            <h2 class="car-title border py-24 py-2 fz-24">台北綠園店</h2>
               <ul class=" d-flex  py-24 gap-1">
                    <span class=" material-symbols-outlined Cust_sty_foot-icon ">call</span>
                    <li type="tel" class="fz-20  flex-fill ">電話：(02)000-2345</li>
                  </ul>
               <ul class=" d-flex  py-24 gap-1">
                    <span class="material-symbols-outlined">schedule</span>
                    <li type="tel" class="fz-20  flex-fill ">營業時間：10:00-21:00</li>
                  </ul>
               <ul class=" d-flex   py-24 gap-1">
                    <span class="material-symbols-outlined">location_on</span>
                    <li type="tel" class="fz-20  flex-fill ">地址：台北市中正區復興南路 132-1 號</li>
                  </ul>
                <div class="card-bt border bg-dark text-center">
                  <a class="" href=""><p class="text-white mt-3">詳細資訊</p></a>
                </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="car-item mb-3">
            <div class="car-img"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt=""></div>
            
            <div class="car-body border ">
            <h2 class="car-title border py-24 py-2 fz-24">台中清水旗艦店</h2>
               <ul class=" d-flex  py-24 gap-1">
                    <span class=" material-symbols-outlined Cust_sty_foot-icon ">call</span>
                    <li type="tel" class="fz-20  flex-fill ">電話：(02)000-1234</li>
                  </ul>
               <ul class=" d-flex  py-24 gap-1">
                    <span class="material-symbols-outlined">schedule</span>
                    <li type="tel" class="fz-20  flex-fill ">營業時間：10:00-21:00</li>
                  </ul>
               <ul class=" d-flex   py-24 gap-1">
                    <span class="material-symbols-outlined">location_on</span>
                    <li type="tel" class="fz-20  flex-fill ">地址：台中市清水區經南一路 23 號 8 樓</li>
                  </ul>
                <div class="card-bt border bg-dark text-center">
                  <a class="" href=""><p class="text-white mt-3">詳細資訊</p></a>
                </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="car-item mb-3">
            <div class="car-img"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt=""></div>
            
            <div class="car-body border ">
            <h2 class="car-title border py-24 py-2 fz-24">高雄中正形象店</h2>
               <ul class=" d-flex  py-24 gap-1">
                    <span class=" material-symbols-outlined Cust_sty_foot-icon ">call</span>
                    <li type="tel" class="fz-20  flex-fill ">電話：(07)000-2345</li>
                  </ul>
               <ul class=" d-flex  py-24 gap-1">
                    <span class="material-symbols-outlined">schedule</span>
                    <li type="tel" class="fz-20  flex-fill ">營業時間：10:00-21:00</li>
                  </ul>
               <ul class=" d-flex   py-24 gap-1">
                    <span class="material-symbols-outlined">location_on</span>
                    <li type="tel" class="fz-20  flex-fill ">地址：高雄市苓雅區中正路 38 號 12 樓</li>
                  </ul>
                <div class="card-bt border bg-dark text-center">
                  <a class="" href=""><p class="text-white mt-3">詳細資訊</p></a>
                </div>
            </div>
          </div>
          <!-- 5 -->
          <div class="car-item mb-3">
            <div class="car-img"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/store-1.png" alt=""></div>
            
            <div class="car-body border ">
            <h2 class="car-title border py-24 py-2 fz-24">高雄夢時代店</h2>
               <ul class=" d-flex  py-24 gap-1">
                    <span class=" material-symbols-outlined Cust_sty_foot-icon ">call</span>
                    <li type="tel" class="fz-20  flex-fill ">電話：(02)000-1234</li>
                  </ul>
               <ul class=" d-flex  py-24 gap-1">
                    <span class="material-symbols-outlined">schedule</span>
                    <li type="tel" class="fz-20  flex-fill ">營業時間：10:00-21:00</li>
                  </ul>
               <ul class=" d-flex   py-24 gap-1">
                    <span class="material-symbols-outlined">location_on</span>
                    <li type="tel" class="fz-20  flex-fill ">地址：高雄市前鎮區中華一路 63 號 6 樓</li>
                  </ul>
                <div class="card-bt border bg-dark text-center">
                  <a class="" href=""><p class="text-white mt-3">詳細資訊</p></a>
                </div>
            </div>
          </div>

        </div>
       
      







      
      </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
